.card {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.card__active {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 1000px;
}

.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.front,
.back {
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow:
        1px 1px 1px #000,
        1px 0px 1px #000,
        0px 1px 1px #000,
        0px -1px 0px #000,
        -1px 0px 0px #000;
}

.front {
    background-color: #F0F4C3;
}

.back {
    background-color: #F0F4C3;
    transform: rotateY(180deg);
}

.card__active .front {
    background-color: #F0F4C3;
    transform: rotateY(180deg);
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow:
        1px 1px 1px #000,
        1px 0px 1px #000,
        0px 1px 1px #000,
        0px -1px 0px #000,
        -1px 0px 0px #000;
}

.card__active .back {
    background-color: #F0F4C3;
    transform: rotateY(360deg);
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
    border-radius: 15px;
    box-shadow:
        1px 1px 1px #000,
        1px 0px 1px #000,
        0px 1px 1px #000,
        0px -1px 0px #000,
        -1px 0px 0px #000;
}

.button {
    padding: 5px 15px;
    background-color: rgb(240, 244, 195, 1);
    outline: none;
    border: none;
    color: #000;
    font-size: 16px;
    transition: all .15s ease;
    margin-top: 10px;
    width: 100%;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(240, 244, 195, .8);
}

.input {
    margin-top: 10px;
    padding: 5px;
    border: none;
    outline: 1px solid #000;
    background-color: #F0F4C3;
    width: 100%;
}